    @media (min-width:1024px) {
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        text-decoration: none;
        list-style: none;
        scroll-behavior: smooth;
        max-width: 100%;
      }

      html,
      body {
        max-width: 100%;
      }

      nav * {

        align-content: center;
        justify-content: center;
      }


      .header {
        max-width: 100%;
        padding: 25px 7%;
        background: rgba(20, 20, 20, 0.8);
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: orange;

      }

      .navbar a {
        font-size: 22px;
        color: white;
        font-weight: 500;
        margin: 0 20px;
        display: inline-block;
        justify-content: space-between;
        align-items: center;
        border-bottom: 3px solid transparent;
      }

      .navbar a:hover,
      .navbar a.active {
        color: tomato;
      }

      #home {
        position: relative;
        background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.3)),
          url("../images/Hero\ image.jpeg");
        max-width: 100%;
        height: 100vh;
        background-size: 100%;
      }

      .featured-image {
        color: white;
        position: absolute;
        top: 10px;
        left: 50px;
        animation: fadeIn 2s 1s ease-in-out forwards;

      }

      .profileimg {
        width: 350px;
        height: 250px;
        opacity: 0.7;
        border-radius: 50%;
      }

      @keyframes fadeIn {
        0% {
          opacity: 0;
          transform: translateY(30px);
        }

        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }

      #about {
        margin: 5%;
        padding: 2%;
      }

      #skills {
        margin: 5%;
        padding: 2%;
        background-color: lightgrey;
      }

      #skills img {
        width: 180px;
        height: 150px;
        border: 2px solid rgb(138, 138, 137);
        border-radius: 10px;
        box-shadow: 3px 3px rgb(126, 126, 126);
        padding: 20px;

      }

      .program-row1 {
        margin-bottom: 5%;
        padding: 3%;
        text-align: center;
      }

      .program-row2 {
        margin-bottom: 5%;
        padding: 3%;
        text-align: center;
      }

      #services {
        margin: 5%;
        padding: 2%;
        background-color: lightgrey;

      }

      #services img {
        width: 80%;
        height: 350px;
      }

      #services p {
        text-align: justify;
      }

      .web-dev h2,
      .project-mng h2,
      .it-consult h2 {
        margin-top: 4%;
        text-align: center;
      }

      .web-dev,
      .project-mng,
      .it-consult {
        text-align: center;
      }

      #solutions {
        margin: 5%;
        padding: 2%;
      }

      .aboutpara {
        text-align: left;
      }

      .project1 h2,
      .project2 h2,
      .project3 h2 {
        margin-top: 5%;
        text-align: center;
      }

      .project1 p,
      .project2 p,
      .project3 p {
        text-align: center;
      }

      .project1 img,
      .project2 img,
      .project3 img {
        margin-top: 5%;
      }

      .view-project {
        text-decoration: none;
        list-style: none;
        margin-left: 5%;
        font-size: 35px;
        color: lightseagreen;

      }

      .agri {
        height: 265px;
        width: 320px;
      }

      .contact-form {
        max-width: 500px;
        background: rgb(221, 213, 213);
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        margin: auto;
      }

      .form-group {
        margin-bottom: 1.2rem;
      }

      .form-group label {
        display: block;
        margin-bottom: 0.4rem;
      }

      .form-group input,
      textarea,
      select {
        width: 100%;
        padding: 0.7rem;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      .firstn,
      .secondn {
        width: 95%;
      }

      .first-last {
        display: flex;
        flex-direction: row;
      }

      textarea {
        resize: vertical;
      }

      .checkbox-group {
        display: flex;
        align-items: center;
      }

      .send {
        background-color: black;
        color: white;
        border: none;
        padding: 0.8rem 1.2rem;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
      }

      /* button:hover {
        background-color: #0056b3;
      } */

      .success {
        color: green;
        margin-top: 1rem;
      }

      .error {
        color: red;
        font-size: 0.9rem;
        margin-top: 0.2rem;
      }

      .phone-row {
        display: flex;
        gap: 0.5rem;
      }

      .phone-row select {
        width: 35%;
      }

      .phone-row input {
        width: 65%;
      }

      .privacy {
        display: flex;
      }

      #privacyPolicy {
        width: 20px;
        height: 20px;
        border: none;
        border-radius: 20px;
      }

      .contactus {
        text-align: center;
      }

      .contactus h5 {
        font-weight: bold;
      }

      .contactus h3 {
        font-size: 42px;
      }

      .contactus p {
        color: rgb(99, 98, 98);
        font-size: 20px;
      }








      .footer {
        max-width: 100%;
        padding: 25px 0;
        background-color: rgba(12, 12, 12, 0.877);
      }

      .footer .social {
        text-align: center;
        padding-bottom: 25px;
        color: white;
      
      }

      .footer .social a {
        font-size: 24px;
        border: 2px solid orangered;
        color: white;
        width: 40px;
        height: 40px;
        line-height: 38px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        margin: 0 8px;
      }

      .footer ul {
        margin-top: 0;
        padding: 0;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
        text-align: center;
        display: flex;
        justify-content: center;
      }

      .footer ul li a {
        color: white;
        border-bottom: 3px solid transparent;
      }

      .footer ul li {
        display: inline-block;
        padding: 0 15px;
      }

      .footer .copyright {
        margin-top: 15px;
        text-align: center;
        font-size: 12px;
        color: white;
      }
      .list a{
        text-decoration: none;
        list-style: none;
      }


    }

    @media (max-width:767px) {

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        text-decoration: none;
        list-style: none;
        scroll-behavior: smooth;
        max-width: 100%;
      }

      html,
      body {
        max-width: 100%;
      }

      .header h1 {
        text-align: center;
      }

      nav * {

        align-content: center;
        justify-content: center;
        text-align: center;
      }

      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;


      }

      .navbar-toggler {
        color: white;


      }


      .header {
        max-width: 100%;
        padding: 25px 7%;
        background: rgba(20, 20, 20, 0.8);
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: orange;

      }

      .navbar a {
        font-size: 22px;
        color: white;
        font-weight: 500;
        margin: 0 20px;
        display: inline-block;
        justify-content: space-between;
        align-items: center;
        border-bottom: 3px solid transparent;
      }

      .navbar a:hover,
      .navbar a.active {
        color: tomato;
      }

      #home {
         max-width: 100%;
        position: relative;
        background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.3)),
          url("../images/Hero\ image.jpeg");
          background-repeat: no-repeat;
        height: 100vh;
        background-size: 100%;
      }

      .featured-image {
        color: white;
        position: absolute;
        top: 65px;
        left: 10px;
        animation: fadeIn 2s 1s ease-in-out forwards;

      }

      .profileimg {
        width: 200px;
        height: 250px;
        opacity: 0.7;
        border-radius: 50%;
      }

      @keyframes fadeIn {
        0% {
          opacity: 0;
          transform: translateY(30px);
        }

        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }

      #about {
        margin: 5%;
        padding: 2%;
        max-width: 100%;
      }

      #skills {
        max-width: 100%;
        margin: 3%;
        padding: 2%;
        background-color: lightgrey;
      }

      #skills img {
        width: 180px;
        height: 150px;
        border: 2px solid rgb(138, 138, 137);
        border-radius: 10px;
        box-shadow: 3px 3px rgb(126, 126, 126);
        padding: 20px;

      }

      .program-row1 {
        margin-bottom: 5%;
        padding: 3%;
        text-align: center;
      }

      .program-row2 {
        margin-bottom: 5%;
        padding: 3%;
        text-align: center;
      }

      #services {
        max-width: 100%;
        margin: 3%;
        padding: 2%;
        background-color: lightgrey;

      }

      #services img {
        width: 80%;
        height: 350px;
      }

      #services p {
        text-align: justify;
      }

      .web-dev h2,
      .project-mng h2,
      .it-consult h2 {
        margin-top: 4%;
        text-align: center;
      }

      .web-dev,
      .project-mng,
      .it-consult {
        text-align: center;
      }

      #solutions {
        max-width: 100%;
        margin: 5%;
        padding: 2%;
      }

      .aboutpara {
        text-align: left;
      }

      .project1 h2,
      .project2 h2,
      .project3 h2 {
        margin-top: 5%;
        text-align: center;
      }

      .project1 p,
      .project2 p,
      .project3 p {
        text-align: center;
      }

      .project1 img,
      .project2 img,
      .project3 img {
        margin-top: 5%;
      }

      .view-project {
        text-decoration: none;
        list-style: none;
        margin-left: 5%;
        font-size: 35px;
        color: lightseagreen;

      }

      .agri {
        height: 265px;
        width: 320px;
      }

      .contact-form {
        max-width: 100%;
        background: rgb(221, 213, 213);
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        margin: auto;
      }

      .form-group {
        margin-bottom: 1.2rem;
      }

      .form-group label {
        display: block;
        margin-bottom: 0.4rem;
      }

      .form-group input,
      textarea,
      select {
        width: 100%;
        padding: 0.7rem;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      .firstn,
      .secondn {
        width: 95%;
      }

      .first-last {
        display: flex;
        flex-direction: row;
      }

      textarea {
        resize: vertical;
      }

      .checkbox-group {
        display: flex;
        align-items: center;
      }

      .send {
        background-color: black;
        color: white;
        border: none;
        padding: 0.8rem 1.2rem;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
      }

      /* button:hover {
        background-color: #0056b3;
      } */

      .success {
        color: green;
        margin-top: 1rem;
      }

      .error {
        color: red;
        font-size: 0.9rem;
        margin-top: 0.2rem;
      }

      .phone-row {
        display: flex;
        gap: 0.5rem;
      }

      .phone-row select {
        width: 35%;
      }

      .phone-row input {
        width: 65%;
      }

      .privacy {
        display: flex;
      }

      #privacyPolicy {
        width: 20px;
        height: 20px;
        border: none;
        border-radius: 20px;
      }

      .contactus {
        text-align: center;
      }

      .contactus h5 {
        font-weight: bold;
      }

      .contactus h3 {
        font-size: 42px;
      }

      .contactus p {
        color: rgb(99, 98, 98);
        font-size: 20px;
      }




      .footer {
        max-width: 100%;
        height:auto;
        padding: 25px 0;
        background-color: rgba(12, 12, 12, 0.877);
      
      }
     

      .footer .social {
        text-align: center;
        color: white;
       
      }

      .footer .social a {
        font-size: 24px;
        border: 2px solid orangered;
        color: white;
        width: 40px;
        height: 40px;
        line-height: 38px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        margin: 0 8px;
      }

      .footer ul {
        margin-top: 0;
        padding: 0;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
        text-align: center;
        display: flex;
        justify-content: center;
      }

      .footer ul li a {
        color: white;
        border-bottom: 3px solid transparent;
      }

      .footer ul li {
        display: inline-block;
        padding: 0 15px;
      }

      .footer .copyright {
        margin-top: 15px;
        text-align: center;
        font-size: 12px;
        color: white;
      }
      .list a{
        list-style: none;
        text-decoration: none;
      }

    }


@media(min-width:768px) and (max-width:1023px) {

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        text-decoration: none;
        list-style: none;
        scroll-behavior: smooth;
        max-width: 100%;
      }

      html,
      body {
        max-width: 100%;
      }

      .header h1 {
        text-align: center;
      }

      nav * {

        align-content: center;
        justify-content: center;
        text-align: center;
      }

      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;


      }

      .navbar-toggler {
        color: white;


      }


      .header {
        max-width: 100%;
        padding: 25px 7%;
        background: rgba(20, 20, 20, 0.8);
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: orange;

      }

      .navbar a {
        font-size: 12px;
        color: white;
        font-weight: 500;
        margin: 0 20px;
        display: inline-block;
        justify-content: space-between;
        align-items: center;
        border-bottom: 3px solid transparent;
      }

      .navbar a:hover,
      .navbar a.active {
        color: tomato;
      }

      #home {
         max-width: 100%;
        position: relative;
        background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.3)),
          url("../images/Hero\ image.jpeg");
          background-repeat: no-repeat;
        height: 100vh;
        background-size: 100%;
      }

      .featured-image {
        color: white;
        position: absolute;
        top: 65px;
        left: 10px;
        animation: fadeIn 2s 1s ease-in-out forwards;

      }

      .profileimg {
        width: 200px;
        height: 250px;
        opacity: 0.7;
        border-radius: 50%;
      }

      @keyframes fadeIn {
        0% {
          opacity: 0;
          transform: translateY(30px);
        }

        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }

      #about {
        margin: 5%;
        padding: 2%;
        max-width: 100%;
      }

      #skills {
        max-width: 100%;
        margin: 3%;
        padding: 2%;
        background-color: lightgrey;
      }

      #skills img {
        width: 180px;
        height: 150px;
        border: 2px solid rgb(138, 138, 137);
        border-radius: 10px;
        box-shadow: 3px 3px rgb(126, 126, 126);
        padding: 20px;

      }

      .program-row1 {
        margin-bottom: 5%;
        padding: 3%;
        text-align: center;
      }

      .program-row2 {
        margin-bottom: 5%;
        padding: 3%;
        text-align: center;
      }

      #services {
        max-width: 100%;
        margin: 3%;
        padding: 2%;
        background-color: lightgrey;

      }

      #services img {
        width: 80%;
        height: 350px;
      }

      #services p {
        text-align: justify;
      }

      .web-dev h2,
      .project-mng h2,
      .it-consult h2 {
        margin-top: 4%;
        text-align: center;
      }

      .web-dev,
      .project-mng,
      .it-consult {
        text-align: center;
      }

      #solutions {
        max-width: 100%;
        margin: 5%;
        padding: 2%;
      }

      .aboutpara {
        text-align: left;
      }

      .project1 h2,
      .project2 h2,
      .project3 h2 {
        margin-top: 5%;
        text-align: center;
      }

      .project1 p,
      .project2 p,
      .project3 p {
        text-align: center;
      }

      .project1 img,
      .project2 img,
      .project3 img {
        margin-top: 5%;
      }

      .view-project {
        text-decoration: none;
        list-style: none;
        margin-left: 5%;
        font-size: 35px;
        color: lightseagreen;

      }

      .agri {
        height: 265px;
        width: 320px;
      }

      .contact-form {
        max-width: 100%;
        background: rgb(221, 213, 213);
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        margin: auto;
      }

      .form-group {
        margin-bottom: 1.2rem;
      }

      .form-group label {
        display: block;
        margin-bottom: 0.4rem;
      }

      .form-group input,
      textarea,
      select {
        width: 100%;
        padding: 0.7rem;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      .firstn,
      .secondn {
        width: 95%;
      }

      .first-last {
        display: flex;
        flex-direction: row;
      }

      textarea {
        resize: vertical;
      }

      .checkbox-group {
        display: flex;
        align-items: center;
      }

      .send {
        background-color: black;
        color: white;
        border: none;
        padding: 0.8rem 1.2rem;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
      }

      /* button:hover {
        background-color: #0056b3;
      } */

      .success {
        color: green;
        margin-top: 1rem;
      }

      .error {
        color: red;
        font-size: 0.9rem;
        margin-top: 0.2rem;
      }

      .phone-row {
        display: flex;
        gap: 0.5rem;
      }

      .phone-row select {
        width: 35%;
      }

      .phone-row input {
        width: 65%;
      }

      .privacy {
        display: flex;
      }

      #privacyPolicy {
        width: 20px;
        height: 20px;
        border: none;
        border-radius: 20px;
      }

      .contactus {
        text-align: center;
      }

      .contactus h5 {
        font-weight: bold;
      }

      .contactus h3 {
        font-size: 42px;
      }

      .contactus p {
        color: rgb(99, 98, 98);
        font-size: 20px;
      }




      .footer {
        max-width: 100%;
        height:auto;
        padding: 25px 0;
        background-color: rgba(12, 12, 12, 0.877);
      
      }
     

      .footer .social {
        text-align: center;
        color: white;
       
      }

      .footer .social a {
        font-size: 24px;
        border: 2px solid orangered;
        color: white;
        width: 40px;
        height: 40px;
        line-height: 38px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        margin: 0 8px;
      }

      .footer ul {
        margin-top: 0;
        padding: 0;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
        text-align: center;
        display: flex;
        justify-content: center;
      }

      .footer ul li a {
        color: white;
        border-bottom: 3px solid transparent;
      }

      .footer ul li {
        display: inline-block;
        padding: 0 15px;
      }

      .footer .copyright {
        margin-top: 15px;
        text-align: center;
        font-size: 12px;
        color: white;
      }
      .list a{
        list-style: none;
        text-decoration: none;
      }

}
